@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    padding:0;
    margin: 0;
}

:root{
    --gray10: hsl(0, 0%, 10%);
    --gray5: hsl(0, 0%, 5%);
}

body{
    background-color: var(--fondo);
}

h1, h2, h3, p{
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-family: var(--fuente3);
    font-size: 2.7em;
}

h3 {
    font-size: 1.5em;
    font-family: var(--fuente2);
}

p, li {
    font-size: 1.25em;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card p {
    margin-bottom: 3rem;
}


/*Da estilo a los botones*/
.card .button {
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: var(--encabezado);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: auto;
    display: inline-block;
    width: auto;
    height: auto;
}

/*Pone orden al encabezado donde ira la imagen del contenido*/
#encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/imagen_concierto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#encabezado h1{
    color: white;
    font-size: 3rem;
}

/*Ayuda a alinear las cajas dentro del container*/
#nuestras-ofertas{
    background-color: var(--fondo);
    color: white;
    text-align: center;
    padding-top: 40px;
}

#nuestras-ofertas .container{
    padding: 50px 12px;
}

#nuestras-ofertas .card{
    padding: 50px 0px;
    margin: 30px;
    background: linear-gradient(var(--gray10), var(--gray5));
    border-radius: 10px;
}

#nuestras-ofertas .card h3 {
    margin-bottom: 1rem;
}

#nuestras-ofertas .card p{
    display: none;
    line-height: 1.2em;
    text-align: left;
    padding: 0px 30px;
    color: white;
}

/*Pone orden al encabezado donde ira la imagen del contenido*/
#encabezado2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/concierto2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#encabezado2 h1{
    color: white;
    font-size: 3em;
}

/*Ayuda a alinear las cajas dentro del container*/
#nuestros-paquetes{
    background-color: var(--fondo);
    color: white;
    text-align: center;
    padding-top: 40px;
}

#nuestros-paquetes .container{
    padding: 50px 12px;
}

#nuestros-paquetes .card{
    padding: 50px 0px;
    margin: 30px;
    background: linear-gradient(var(--gray10), var(--gray5));
    border-radius: 10px;
}

#nuestros-paquetes .card ul{
    display: none;
    padding: 0px 30px;
    list-style-position: inside;
    font-family: var(--fuente1);
    text-align: left;
}

#nuestros-paquetes .card ul li {
    margin: 0.8rem 0;
}

#nuestros-paquetes .card h3 {
    margin-bottom: 1rem;
}

/*PA CELULAR*/
@media screen and (min-width: 481px) and (max-width: 768px){
    #encabezado h1, #encabezado2 h1{
        margin: auto 5%;
    }

    /*Para la primera parte de las ofertas*/
    #nuestras-ofertas .container{
        flex-direction: row; 
        justify-content: space-around;
    }
    #nuestras-ofertas .card{
        width: 90%; 
        padding: 20px;
        margin: 20px 10px;
    }
    #nuestras-ofertas .card p{
        display: none; 
        text-align: left;
    }

    #nuestras-ofertas .ofertas{
        display: flex;
        flex-direction: column;
        margin: 0 15%;
    }

    /*Para la segunda parte de los paquetes*/
    #nuestros-paquetes .container{
        flex-direction: row; 
        justify-content: space-around;
    }
    #nuestros-paquetes .card{
        width: 90%; 
        padding: 20px;
        margin: 20px 10px;
    }
    #nuestros-paquetes .card p{
        display: none; 
        text-align: left;

    }

    #nuestros-paquetes .paquetes{
        display: flex;
        flex-direction: column;
        margin: 0 15%;
    }
}


@media screen and (min-width: 769px) {
    /*Para la primera parte de las ofertas*/
    #nuestras-ofertas .container{
        flex-direction: column; 
        justify-content: space-around;
    }
    #nuestras-ofertas .card{
        width: 30%; 
        padding: 20px;
        margin: 20px 10px;
    }

    #nuestras-ofertas .card p{
        display: block;
        text-align: left;
        padding: 0px 30px;
        color: white;
    }

    #nuestras-ofertas .ofertas{
        display: flex;
    }

    /*Para la segunda parte de los paquetes*/
    #nuestros-paquetes .container{
        flex-direction: row; 
        justify-content: space-around;
    }

    #nuestros-paquetes .card{
        width: 30%; 
        padding: 20px;
        margin: 20px 10px;
    }
    #nuestros-paquetes .card ul{
        display: block; 
        text-align: left;

    }

    #nuestros-paquetes .paquetes{
        display: flex;
    }
}
