@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo);
}

h1, h2, h3, p{
    font-family: 'Outfit', sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-family: var(--fuente3);
    font-size: 2.7em;
}

h3 {
    font-size: 1.5em;
    font-family: var(--fuente2);
}

p, li {
    font-size: 1.25em;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*Da estilo a los botones*/
.button{
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    background-color: var(--encabezado);
    padding: 1.3rem;
    text-decoration: none;
    border-radius: 1rem;
    margin: 20px auto;
    display: inline-block;
}

.card>a:hover{
    background-color: var(--titulo2);
}

/*Pone orden al encabezado donde ira la imagen del contenido*/
#encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    background-image:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/imagen_concierto.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#encabezado h1{
    color: white;
    font-size: 3rem;
}

/*Ayuda a alinear las cajas dentro del container*/
#nuestras-ofertas{
    background-color: var(--fondo);
    color: white;
    text-align: center;
    padding-top: 40px;
}

#nuestras-ofertas .container{
    padding: 50px 12px;
}

#nuestras-ofertas .ofertas{
    margin: auto;
}

#nuestras-ofertas .ofertas p{
    color: white;
    text-align: justify;
}

#nuestras-ofertas .card{
    padding: 40px 0px;
    display: flex;
    justify-content: space-around;
    color: white;
}

#nuestras-ofertas .card div {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-around;
}

#nuestras-ofertas .card div h3 {
    margin-bottom: 2rem;
}

#nuestras-ofertas .card div h3 ul{
    margin: 0 10%;
}

#nuestras-ofertas .card img{
    width: 40%;
    height: auto;
    align-self: center;
    border-radius: 20px;
}

#nuestras-ofertas .card p{
    display: block ;
    padding: 0px 20px; 
}

/*PA CELULAR*/
@media screen and (max-width: 480px) {
    #nuestras-ofertas .card {
        flex-direction: column;
        align-items: center;
    }

    #nuestras-ofertas .card img {
        width: 80%;
        margin-bottom: 20px;
    }

    #nuestras-ofertas .card div {
        width: 90%;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    #nuestras-ofertas .card {
        flex-direction: column;
        align-items: center;
    }

    #nuestras-ofertas .card img {
        width: 80%;
        margin-bottom: 20px;
    }

    #nuestras-ofertas .card div {
        width: 70%;
        text-align: center;
        margin-top: 10px;
    }

}

@media screen and (min-width: 769px) {
    #nuestras-ofertas .card:nth-child(2) {
        flex-direction: row-reverse;
        align-items: center;
    }
}
