@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding:0;
    margin: 0;
}

:root{
    --fondo: #02020e;
    --titulo: #ffff;
    --encabezado: #720605;
}

html, body{
    height: 100%;
}
body{
    background-color: var(--fondo);
}
nav{
    width: 100%;
    top: 0;
    background-color: var(--titulo);
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#logo{
    width: 10vw;
}

span>a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: var(--encabezado);
    font-weight: bolder;
    font-size: 2vw;
    padding: 4px;
}

span>a:hover{
    font-size: 3vw;
    color: var(--fondo);
}


footer{
    background-color: var(--titulo);
    bottom: 0;
    font-family: "Outfit", sans-serif;
    height: 5vw;
}

footer p{
    font-size: 2vw;
    text-align: center;
    padding-top: 0.7vw;
}

@media screen and (min-width:640px){
    nav{
        height: 8vw;
    }

    #logo{
        width: 7vw;
    }

    span>a{
        padding: 10px;
    }

    footer p{
        padding-top: 1vw;
    }
}