@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding:0;
    margin: 0;
}

:root{
    --fondo: #02020e;
    --titulo: #ffff;
    --encabezado: #720605;
    --especial1: #E6AF2E;
    --especial2: #A3320B;
    --fuente: 'Oufit', sans-serif;
    --titulo2: #E6AF2E;
    --fuente1: "Outfit", sans-serif;
    --fuente2: 'Open Sans', sans-serif;
    --fuente3: "Poiret One", sans-serif;
}

body{
    background-color: var(--fondo);
}


* {
    font-size: 1rem;
    font-size: clamp(1rem, 0.96rem + 0.19999999999999996vw, 1.2rem);
}

nav{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--titulo);
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#logo{
    width: 10%;
    height: auto;
}

h2{
    font-family: var(--fuente3);
    color: var(--titulo2);
    font-size: 8vw;
}

h3{
    color: var(--titulo);
    font-family: var(--fuente2);
}

span>a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: var(--encabezado);
    font-weight: bolder;
    font-size: 2vw;
    padding: 4px;
}

span>a:hover{
    font-size: 3vw;
    color: var(--fondo);
}

h1, p{
    color: var(--titulo);
    font-family: var(--ff2);
}


footer{
    background-color: var(--titulo);
    bottom: 0;
    font-family: var(--fuente);
    height: 5vw;
}

footer p{
    font-size: 2vw;
    text-align: center;
    padding-top: 0.8vw;
    color: var(--encabezado);
}

@media screen and (min-width: 481px) and (max-width: 768px){
    nav{
        height: 6vw;
    }

    #logo{
        width: 6vw;
    }

    span>a{
        padding: 10px;
        font-size: 2vw;
    }
    footer{
        height: 3vw;
        position: static;
        bottom: 0;
    }
    footer p{
        font-size: 1.3vw;
    }

   }



@media screen and (min-width: 769px) {
    nav{
        height: 5.5vw;
    }

    #logo{
        width: 6vw;
    }

    span>a{
        padding: 10px;
        font-size: 2vw;
    }
    footer{
        height: 3vw;
        position: static;
        bottom: 0;
    }

    footer p{
        font-size: 1.3vw;
    }

   }
