/* Estilo de colores para las tarjetas */
.bg-blue { background-color: #548DF0; }
.bg-orange { background-color: #7F54F0; }
.bg-red { background-color: #545BF0; }
.bg-green { background-color: #54BEF0; }
.bg-purple { background-color: #B254F0; }

.card-custom {
    color: white;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

.card-custom h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.card-custom p {
    font-size: 16px;
}