@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
*{
    padding:0;
    margin: 0;
}

:root{
    --fondo: #02020e;
    --titulo: #ffff;
    --encabezado: #720605;
    --titulo2: #E6AF2E;
    --fuente1: "Outfit", sans-serif;
    --fuente2: 'Open Sans', sans-serif;
    --fuente3: "Poiret One", sans-serif;
}

body{
    background-color: var(--fondo);
}

nav{
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: var(--titulo);
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-family: var(--fuente3);
    color: var(--titulo2);
    font-size: 8vw;
}

h3{
    color: var(--titulo);
    font-family: var(--fuente2);
}


#logo{
    width: 12vw;
}

span>a
{
    text-decoration: none;
    font-family: var(--fuente2);
    color: var(--encabezado);
    font-weight: bolder;
    font-size: 3vw;
    padding: 4px;
}

span>a:hover{
    font-size: 2.2vw;
    color: var(--fondo);
    font-style: italic;

}


footer{
    background-color: var(--titulo);
    bottom: 0;
    font-family: var(--fuente1);
    height: 5vw;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    font-size: 2vw;
    text-align: center;
    padding-top: 0.7vw;
}

h1{
    font-family: var(--fuente1);
    color: var(--titulo);
    font-weight: bold;
}

